# Byte-compiled / optimized / DLL files
__pycache__/

# so libs
*.so
*.pyx
*.o

# Jupyter Notebook
.ipynb_checkpoints

# pycharm
.idea

# datasets
data/*
!data/*.sh

experiments/logs/**/

.vscode

# models
*.pth*
*.pkl*

wandb

# experiments log files
#classification/experiments/logs

